.lista {
    list-style-type: disc;
    margin: 5px 30px 5px px;
    text-align: justify;
}
.fotoCentrada {
    display: flex;
    justify-content: space-around;
}
.fotosAsesorias {
    width: 50%;
    padding: 10px;
    margin: 5px;
}