@font-face {
    font-family: "Lato";
    src: url(../../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "NotoSans";
    src: url(../../fonts/NotoSans-Regular.ttf);
}
h1 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 3em;
    color: #1630BE;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
h2 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}
h3, p, ul {
    font-family: "NotoSans";
    font-size: 1em;
    padding: 5px;
    margin: 5px;
    line-height: 1.6;
}
p {
    text-align: justify;
}